name: Docker Build and Push

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: 
         -echo "Build the image"
         -docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"

      - name: Build Docker image
        run: docker build -t billsoft/github-action-practice  .

      - name: Tag Docker image
        run: docker tag  billsoft/github-action-practice:latest billsoft/github-action-practice

      - name: Push Docker image
        run: docker push billsof/github-action-practice
