name: Docker Build and Push

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t billsoft/github-action-practice  .

      - name: Tag Docker image
        run: docker tag  billsoft/github-action-practice billsoft/github-action-practice:latest 

      - name: Push Docker image
        run:  docker push billsoft/github-action-practice:latest
