name: Docker Build and Push

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        #run: docker build -t ${{ secrets.DOCKER_USERNAME }}/app:latest .
        run: docker build -t billsoft/app:latest .

      - name: Push Docker image
        run: docker push billsof/app:latest 
