name: Docker Build and Push

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "password"
          echo ${{ secrets.DOCKER_USERNAME }}
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        run: |
          echo ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest
          docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}:latest
